body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.heading{
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.open{
    font-size: 22px;
}
.image{
    text-align: center;
}